* {
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

.questionBox {
  outline: 0.0625rem black solid;
  width: 16rem;
  height: 8rem;
  font-family: "Allerta", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: #34657c;
}

.questionBox:hover {
  border: 0.3125rem solid #8ed081;
  transition: ease 1ms;
  cursor: pointer;
}

.questionPopup {
  background-color: #34657c;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  font-size: 3.75rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.clickedClue {
  font-size: 3.75rem;
  color: white;
  background-color: #34657c;
  text-align: center;
  align-items: center;
  padding-bottom: 6rem;
}

.categoryTitle {
  height: 6.25rem;
  width: 14rem;
  outline: 0.1875rem black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Allerta", sans-serif;
  font-size: 1.875rem;
  outline-offset: -0.125rem;
  background-color: #178b94;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 0.625rem 1rem;
}

.answer {
  color: white;
  z-index: 999;
  font-size: 3.75rem;
  padding-top: 5rem;
}

.answerButton {
  z-index: 1000;
  background-color: #178b94;
  height: 3.125rem;
  width: 12.5rem;
  color: black;
  font-size: 1.5rem;
  border-radius: 2.8125rem;
  cursor: pointer;
  font-family: "Allerta", sans-serif;
  border: solid 0.25rem black;
}

.answerButton:hover {
  background-color: #8ed081;
}

.goBackButton {
  z-index: 1001;
  background-color: #178b94;
  height: 3.125rem;
  width: 12.5rem;
  color: black;
  font-size: 1.5rem;
  border-radius: 2.8125rem;
  cursor: pointer;
  font-family: "Allerta", sans-serif;
  border: solid 0.25rem black;
  margin-top: 4rem;
}

.goBackButton:hover {
  background-color: #8ed081;
}
