* {
  color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

.questionBox {
  outline: 0.0625rem black solid;
  width: 14rem;
  height: 8rem;
  font-family: "Allerta", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background-color: #34657c;
  padding: 10px 0px;
}

.questionBox:hover {
  border: 0.3125rem solid #8ed081;
  transition: ease 1ms;
  cursor: pointer;
}

.clickedClue {
  background-color: #34657c;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  font-size: 3.75rem;
  color: white;
  padding: 18.75rem;
}

.categoryTitle {
  height: 6.25rem;
  width: 14rem;
  outline: 0.1875rem black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Allerta", sans-serif;
  font-size: 1.875rem;
  outline-offset: -2px;
  padding: 10px 0px;
  background-color: #178b94;
}
