body {
  background-color: #3b4252;
}

.gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6.25rem;
}

.startButton {
  position: relative;
  top: 18rem;
  height: 6.25rem;
  width: 12.5rem;
  font-family: "Allerta", sans-serif;
  font-size: 2.5rem;
  border-radius: 2.5rem;
  color: #3b4252;
  border: 0.3125rem black solid;
}

.startButton:hover {
  cursor: pointer;
  background-color: #8ed081;
  color: white;
  text-shadow: 0.125rem 0.125rem #3b4252;
}
