body {
  background-color: #8ed081;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: radial-gradient(
    circle,
    #3b4252,
    #34657c,
    #178b94,
    #3eb094,
    #8ed081
  );
  height: 100vh;
}

#mainTitle {
  font-size: 9.375rem;
}

#authorCredit {
  font-size: 1.25rem;
  margin-top: 5rem;
}

#dataCredit {
  font-size: 1rem;
}

.gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#teamSelectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.125rem;
  margin-top: -1.875rem;
}

#teamSelectHeader {
  font-size: 2rem;
}

#teamSelectDropdown {
  color: black;
  height: 2.25rem;
  font-family: "Allerta", sans-serif;
  border-radius: 0.625rem;
}

#teamSelectDropdown option {
  color: black;
  font-family: "Allerta", sans-serif;
}

.startButton {
  height: 6.25rem;
  width: 12.5rem;
  font-family: "Allerta", sans-serif;
  font-size: 2.5rem;
  border-radius: 2.5rem;
  color: #3b4252;
  border: 0.3125rem black solid;
  text-align: center;
}

.startButton:hover {
  cursor: pointer;
  background-color: #8ed081;
  color: white;
  text-shadow: 0.125rem 0.125rem #3b4252;
}

.scoreBoardContainer {
  z-index: 1010;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
}

@media all and (min-width: 1024px) and (max-width: 1400px) {
  #mainTitle {
    font-size: 3rem;
  }
  .startButton {
    font-size: 2rem;
    height: 4rem;
    width: 8rem;
  }
  .scoreBoardContainer {
    margin-top: 4rem;
    padding-bottom: -8rem;
  }
  .scoreBoardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  #mainTitle {
    font-size: 3rem;
  }
  .startButton {
    font-size: 2rem;
    height: 4rem;
    width: 8rem;
  }
  .scoreBoardContainer {
    margin-top: 4rem;
    padding-bottom: -8rem;
  }
  .scoreBoardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  #mainTitle {
    font-size: 3rem;
  }
  .startButton {
    font-size: 2rem;
    height: 4rem;
    width: 8rem;
  }
  .gameBoard {
    width: 100%;
  }
  .scoreBoardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* iPhone Landscape */
@media screen and (max-device-width: 920px) and (orientation: landscape) {
  body {
    height: 75vh;
  }
  #mainTitle {
    font-size: 3rem;
  }
  #authorCredit {
    margin-top: 1rem;
  }
  .startButton {
    font-size: 2rem;
    height: 4rem;
    width: 8rem;
  }
  .gameBoard {
    width: 100%;
    top: 100px;
  }
  .scoreBoardContainer {
    margin-top: 6.25rem;
    bottom: 0;
    gap: 1rem;
  }
  .scoreBoardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
